{% extends "taskproductivity/layout.html" %}
{% load static %}

{% block body %}
    <div class="container p-5 mb-4 text-center">
        <h1 class="display-4 fw-bold">Never forget your 90 days reporting again</h1>
        <h5 class="pt-3">90 Days Reporting Tracker helps you calculate and remind you when to do your 90 days reporting</h5>
        <div class="mt-4 mb-3">
            <a href="{% url 'signup' %}" class="btn btn-primary fs-5" name="featured_btn_signup" role="button">Sign up for free</a>
        </div>
        <div>
            <a href="{% url 'login' %}" class="link-dark fs-5" name="featured_btn_login">Already have an account? Login</a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 pb-4">
                <img class="img-fluid" src="{% static 'taskproductivity/img/90-days-240.png' %}">
            </div>
            <div class="col-auto">
                <h5>TRACK THE NEXT REPORTING DATE</h5>
                <p>Keep track of the date you need to do 90 days reporting.</p>
                <h5>TRACK WHEN CAN YOU DO ONLINE REPORTING</h5>
                <p>Automatically calculate the period of when can you do online reporting.</p>
                <h5>EMAIL REMINDERS</h5>
                <p>Receive email reminders about 90 days reporting</p>
                <h5>IMPORT EVENT TO YOUR FAVORITE CALENDAR</h5>
                <p>Import the events to your favorite calendar client.</p>
                <h5>CALCULATE FROM ARRIVAL DATE</h5>
                <p>Calculate your next reporting date from your date of arrival.</p>
            </div>
        </div>
    </div>
{% endblock %}