{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Task Productivity{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand" href="/">Task Productivity</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        {% else %}
                        {% endif %}

                    </ul>
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </div>
        </nav>
        
        <div class="body px-3">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>