{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}90 Days Reporting Tracker{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3 justify-content-end">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">90 Days Reporting Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="container-fluid">
                        <div class="row justify-content-end">
                            {% if user.is_authenticated %}
                                <div class="col-md-auto">
                                    <a class="nav-link link-dark" name="btn_logut" href="{% url 'logout' %}">Logout</a>
                                </div>
                            {% else %}
                                <div class="col-md-auto">
                                    <a class="nav-link link-dark" name="btn_login" href="{% url 'login' %}">Log In</a>
                                </div>
                                <div class="col-md-auto">
                                    <a class="btn btn-primary" name="btn_signup" href="{% url 'signup' %}">Sign Up</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="px-3">
            {% if message %}
                <div class="alert alert-{{ type }}" id="alert" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>