{% extends "taskproductivity/layout.html" %}
{% load static %}

{% block body %}
    <div class="text-center form-div">
        <main class="form-main">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <img class="mb-4" src="{% static 'taskproductivity/img/90-days.svg' %}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" id="btn_signin" type="submit">Sign in</button>
            </form>
        </main>
        <a href="{% url 'recovery' %}">Forgot password?</a>
    </div>
{% endblock %}

{% block script %}
    <link href="{% static 'taskproductivity/css/form.css' %}" rel="stylesheet">
    <link href="{% static 'taskproductivity/css/login.css' %}" rel="stylesheet">
{% endblock %}