#username {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#email,#password {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#confirmation {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}